<div class="m-4">
    <a class="border-none " routerLink="/">Go back</a>
</div>
<div>
    <form class="login" [formGroup]="activeForm" (ngSubmit)="submitLogin()">
        <div>
            <h2 class="text-5xl">Log In</h2>
        </div>
        <div class="grid text-center m-auto">
            <input class="input" type="text" id="" placeholder="GitHub..." formControlName="email">
            <input class="input" type="text" id="" placeholder="Password..." formControlName="password" >
        </div>
        <div>
            <input [disabled]="!activeForm.valid" class="input-sub" type="submit" value="Submit">
        </div>
        @if(IsLogged){
            <div class="success">
                <p>Log In Success</p>
                
            </div>
        }
    </form>
</div>
<app-footer></app-footer>