/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
:root{
    color-scheme: light dark;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 10%, rgba(153, 43, 204, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
a{
    max-width: 50%;
    font-size:xx-large;
    font-weight: bold;
    border: 3px solid white;
    padding: 0.7rem 4rem !important;
    margin: 1rem 0 !important;
}
a:hover{
    border: 4px solid yellow;
    /* box-shadow: inset; */
}
.enlace{
    margin: 2rem 0;
}
footer{
    position: absolute;
    top: 95%;
    width: 100%;
}
.login{
    display: grid;
    text-align: center;
    margin: 10% 0;
}
input{
    margin: 15px 0;
    padding: 8px 10px;
}

.input{
    border: 2px solid white;
    border-radius: 1rem;
    min-width: 120px;
    max-width: 300px;
    /* width: 50%; */
}
.input-sub{
    border: 2px solid white;
    border-radius: 1rem;
    min-width: 100px;

}
.success{
    border: 2px solid greenyellow;
    border-radius: 1rem;
    color: greenyellow;
    margin: auto;
    padding: 7px 20px;
}
.input.ng-touched.ng-invalid{
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}
.input.ng-touched.ng-valid{
    border-bottom: 2px solid greenyellow;
    border-left: 2px solid greenyellow;
}
input:disabled{
    border: 2px solid gray;
    color: gray;
}