<!-- <app-menus></app-menus> -->
<app-header [margin]="false" ></app-header>

<div>
    <form class="w-fit m-auto" [formGroup]="activeForm2" (submit)="submitLogin2()">
        <div class="grid w-auto">
            <label for="name">Nombre:</label>
            <input id="name" class="input" type="text" formControlName="name">
        </div>
        <div class="grid w-auto">
            <label class="label" for="edad">Edad:</label>
            <input id="edad" class="input" type="text" formControlName="edad">
        </div>
        <div class="grid w-auto">
            <label class="label" for="email">Email:</label>
            <input id="email" class="input" type="text" formControlName="email">
        </div> 
        <div class="grid w-auto">
            <label class="label" for="password">Password:</label>
            <input id="password" class="input" type="password" formControlName="password">
        </div>
        <div class="flex gap-2.5">

            <input type="submit" class="input-sub" value="Register" [disabled]="!activeForm2.valid">
            @if(isRegister){
                <div class="success">
                    <p>Sign In Success</p>
                    
                </div>
            }
        </div>
    </form>
</div>

<app-footer></app-footer>